.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.navbar-collapse.collapse {
  margin-top: 15px;
}

.navbar-inverse {
  background-color: #2D3E8C;
  border: #2D3E8C;
  height: 80px;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 25px;
  margin-top: 15px;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  font-size: 25px;
}

.discount {
  color: red;
}

.jumbotron {
  padding-top: 0;
}

.home-tagline {
  font-family: 'Diplomata', cursive;
  color: #F373AD;
  z-index: 1;
  margin-top: 50px;
}

.nerddog {
  z-index: -1;
>>>>>>> home-view
}
