div.navbar-collapse.collapse {
  margin-top: 15px;
}

.navbar-inverse {
  background-color: #2D3E8C;
  border: #2D3E8C;
  height: 80px;
}

.navbar-inverse .navbar-brand {
  color: #fff;
  font-size: 25px;
  margin-top: 15px;
}

.navbar-inverse .navbar-nav>li>a {
  font-size: 25px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #F373AD;
}

a.nav-link.navbar-brand:hover {
  text-decoration: none;
  color: #F373AD;
}

a.nav-link, button.home-button {
  color: #fff;
  text-decoration: none;
}

button.home-button:hover {
  background-color: #F373AD;
  color: #2D3E8C;
}

a.nav-link:hover {
  color: #F373AD;
}

.discount {
  color: red;
}

.main {
  height: 100vh;
}

.home-image {
  background-image: url('./images/b&wfrenchienew.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-nav {
  display: inline-block;
  position: absolute;
  right: 200px;
  bottom: 200px;
  text-align: center;

}

.home-name {
  font-weight: bolder;
  font-size: 50px;
  color: #2D3E8C;
  margin-top: 5px;
}

.home-tagline {
  font-family: 'Cormorant SC', serif;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #F373AD;
  margin-top: 5px;
}

.home-button {
  width: 200px;
  background-color: #2D3E8C;
  border: 0;
}

.side-bar {
  position: absolute;
  left: 100px;
  top: 200px;
  color: #2D3E8C;
}

.prod-filter {
  text-align: center;
  font-size: 20px;
}

.star-rating s:hover {
    color: yellow;
}

.star-rating s,
.star-rating {
    padding: 2px;
}

.star-rating s:hover:before, .star-rating s.rated:before {
    content: "\2605";
}
.star-rating s:before {
    content: "\2606";


.thumbnail {
  text-align: center;
}

.thumbnail a>img, .thumbnail>img {
  margin-top: 20px;
}

.prod-desc {
  text-align: justify;
}
